[tool.poetry]
name = "palbolts"
version = "0.0.1.dev0"
description = "Useful PyTorch Lightning modules."
authors = ["PAL <info@predictive-analytics-lab.com>"]
license = "Apache License 2.0"
packages = [
  { include = "bolts" },
]
include=["bolts/py.typed"]
classifiers=[
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: OS Independent",
  "Typing :: Typed",
]
keywords=["typing", "python", "pytorch", "pytorch-lightning", "lightning-bolts"]
repository="https://github.com/predictive-analytics-lab/pal-bolts"
readme="README.md"

[tool.poetry.dependencies]
python = "^3.7"
albumentations = "^1.0.0"
ethicml = "^0.2.5"
lightning-bolts = "^0.3.4"
palkit = "*"
torch = "*"
torchvision = "*"

[tool.poetry.dev-dependencies]
black = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pydocstyle = "*"
pytest = "*"
python-type-stubs = {git = "https://github.com/predictive-analytics-lab/python-type-stubs.git", branch = "main" }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
target-version = ['py38']
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''
[tool.isort]
known_third_party = ["PIL", "albumentations", "cv2", "ethicml", "kit", "numpy", "pandas", "pl_bolts", "pytest", "pytorch_lightning", "requests", "sklearn", "torch", "torchmetrics", "torchvision", "tqdm", "typing_extensions"]
known_future_library = []
extra_standard_library = ["dataclasses", "__future__", "typing_extensions"]
line_length = 88
profile = "black"
force_sort_within_sections = "True"
classes = ["MISSING"]


[tool.mypy]
python_version = "3.8"
no_implicit_optional = true
allow_redefinition = true
strict_equality = true
check_untyped_defs = true
warn_unreachable = true
disallow_any_unimported = false
disallow_untyped_defs = true
disallow_incomplete_defs = true
show_error_codes = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = [
    "albumentations.*",
    "ethicml.*",
    "flash.*",
    "git.*",
    "kit.*",
    "pandas.*",
    "PIL.*",
    "pl_bolts.*",
    "pytest.*",
    "pytorch_lightning.*",
    "scipy.*",
    "sklearn.*",
    "torch.*",
    "torchmetrics.*",
    "torchvision.*",
    "tqdm.*",
    "wandb.*"
]
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = [
    "ethicml.*",
    "kit.*",
    "pytest.*",
    "pytorch_lightning.*",
    "torch.*",
    "torchmetrics.*"
]
follow_imports = "skip"
follow_imports_for_stubs = true
